{% extends "app/layout.html" %}

{% block content %}

<h2> {{title}} </h2>
<div class="text">
    <p>
        Mechboards - сайт для любителей механических клавиатур
    </p>
    <p>
        Здесь вы сможете найти всё, что захотите: 
    </p>
    <ul class="about" type="circle">
        <li>Свежие новости в мире клавиатур</li>
        <li>Информацию о ваших любимых брендах</li>
        <li>Характеристики интересующей вас модели</li>
        <li>Какие переключатели выбрать под свой вкус</li>
        <li>Полезные аксессуары для вашей клавиатуры</li>
        <li>И многое другое!</li>
    </ul>
    <p>
        В блоке новостей мы регулярно постим актуальные новинки от разных брендов, полезные статьи о всевозможных комплектующих, аксессуарах и так далее. 
            Пользователи сайта могут сами предложить новость, например, с обзором на какую-либо модель, что очень полезно для наших посетителей!
    </p>
    <p>
        В будущем мы планируем создать свой интернет-магазин, в котором вы сможете найти и приобрести интересующую вас модель клавиатуры, любые комплектующие и аксессуары. 
        Также мы планируем создать конструктор, в котором вы сможете создать свой кастомный борд на заказ!
    </p>
</div>
{% endblock %}
