{% extends "app/layout.html" %}

{% block content %}

<h2> {{title}} </h2>
<div class="text">
    <p>Добро пожаловать на Mechboards – ваш источник стильных и функциональных механических клавиатур! У нас вы найдете уникальные модели, разработанные с учетом требований настоящих гиков и профессионалов в области гейминга. Погрузитесь в мир инновационных технологий и эстетичного дизайна.</p>
    <p>В Mechboards мы гордимся тем, что предлагаем не просто клавиатуры, а источник вдохновения для тех, кто ценит комфорт, стиль и производительность. Наш магазин обеспечивает широкий выбор клавиатур различных размеров, конфигураций и дизайна. Независимо от того, вы лишь начинающий геймер или опытный профессионал, у нас есть идеальная клавиатура для вас.</p>
    <p>Почему Mechboards:</p>
    <ul>
        <li>Эксклюзивные модели: Mechboards предоставляет доступ к уникальным и ограниченным выпускам механических клавиатур, которые вы не найдете в обычных магазинах.</li>
        <li>Инновационные технологии: Мы постоянно отслеживаем новейшие тенденции в мире механических клавиатур, чтобы предложить вам передовые технологии и функциональность.</li>
        <li>Сервис высокого уровня: Наша команда готова ответить на ваши вопросы, поддерживать вас на каждом этапе выбора и обеспечивать быструю доставку в любую точку мира.</li>
    </ul>
    <p>Мы создаем не просто интернет-магазин, а сообщество единомышленников, объединенных любовью к качественным и стильным механическим клавиатурам. Добро пожаловать в наш уникальный мир, где каждая клавиша – это шаг к исключительному пользовательскому опыту!</p>
{% endblock %}
