{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h4>Соцсети:</h4>
<div class="socialmedialinks">
    <a class="socialmedialink" id="link1" href="https://vk.com/mechboards_ru">Группа VK</a><br>
    <a class="socialmedialink" id="link2" href="https://t.me/mechboards_ru">Telegram</a><br>
    <a class="socialmedialink" id="link3" href="https://twitter.com/mechboardsru">Twitter</a><br>
</div>
<h4>Контактная информация:</h4>
<address>
    Mechboards<br />
    180004, Псковская область, г. Псков, ул. Бастионная, д. 27, кв. 53<br />
    <strong>Телефон для связи:</strong> +7 (953) 231-70-90<br />
    <strong>Техническая поддержка:</strong>   <a href="mailto:mechboardssupport@gmail.com">mechboardssupport@gmail.com</a><br />
    <strong>Бизнес отдел:</strong> <a href="mailto:mechboardsbusiness@gmail.com">mechboardsbusiness@gmail.com</a>
</address>

{% endblock %}
