{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<h2>{{ title }}</h2>
{% if form != None %}
    <h4>Заполните следующую форму:</h4><br />
    <div class="feedback_form">
    <form method="post"> {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label><br />
        {{ form.name }}<br /><br />
        <label  for="{{ form.email.id_for_label }}">{{form.email.label}}:</label><br />
        {{form.email}}<br /><br />
        <label  for="{{ form.like.id_for_label }}">{{form.like.label}}</label><br />
        {{form.like}}
        <label  for="{{ form.msg.id_for_label }}">{{form.msg.label}}:</label><br />
        {{form.msg}}<br /><br />
        <input onmouseover="fbbgchange1(this)" onmouseout="fbbgchange2(this)" type="submit" value="Отправить" />
    </form>
    </div>
{% else %}
    <h3>Благодарим за ваш отзыв!</h3><br />
    <h4>Вы сообщили следующее:</h4>
    <ul>
        <li><span>Имя:</span> {{data.name}} </li>
        <li><span>E-mail:</span> {{data.email}} </li>
        <li><span>Нравится ли вам наш сайт:</span> {{data.like}} </li>
        <li><span>Пожелания и идеи:</span> {{data.msg}} </li>
    </ul>
{% endif %}

<script type="text/javascript" src="{% static 'app/content/js/main.js' %}"></script>
{% endblock %}
