{% extends "app/layout.html" %}

{% block content %}
<div class="button-back">
    <p><a class="button-back" href="{% url 'news' %}">← Назад</a></p>
</div>

<h2>{{ post_1.title }}</h2>
{% if post_1.image and post_1.image.url != '/media/temp.jpg' %}
<p class="newsimage"><img class="newsimage" src="{{ post_1.image.url }}" alt="Картинка к статье"/></p>
{% endif %}
<p> {{post_1.content|linebreaksbr}} </p>
<hr />
<h3>Комментарии</h3>
{% if user.is_authenticated %}
<h4>Добавить комментарий</h4>
<form method="POST">
    {% csrf_token %}
    <div>
        {{form.as_p}}
        <button type="submit" class="save btn btn-default">Отправить комментарий</button>
    </div>
</form>
{% else %}
<p>Вы можете оставить комментарий после авторизации на нашем сайте!</p>
{% endif %}
<hr />
{% for comment in comments %}
<h4 class="comment_author">{{comment.author}}</h4>
<p>{{comment.text|linebreaksbr}}</p>
<h6>{{comment.date}}</h6>
{% endfor %}

{% endblock %}