{% extends "app/layout.html" %}
{% block content %}
{% load staticfiles %}
<h2>{{title}}</h2>
<div>
    <h3>Varmilo Sakura Cherry MX Silent Reds Typing Soundtest</h3>
    <br />
    <p class="videocenter"><video src="/media/video1.mp4" controls="controls" width="640" height="360" poster="/media/thumbnail1.png"></video></p>
</div>
<hr />
<div>
    <h3>Leopold FC750R Cherry MX Silent Reds Typing Soundtest</h3>
    <br />
    <p class="videocenter"><video src="/media/video2.mp4" controls="controls" width="640" height="360" poster="/media/thumbnail2.jpg"></video></p>
</div>
{% endblock %}